{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "chrome": "90",
            "edge": "89",
            "firefox": "78",
            "safari": "14",
            "ie": "11",
            "ios": "12"
          }
        }
      }
    ]
  ]
}
