.button {
  border-radius: 11px;
  cursor: pointer;
  padding: 20px 24px;
}

.step-number {
  margin-left: -29px;
  margin-top: -5px;
}

.step-container {
  background: #fef6e4;
  border-radius: 98px;
  padding: 12px 16px;
}

.step-image {
  box-sizing: border-box;
  box-shadow: 0px 0px 24px rgba(34, 34, 34, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 21px;
}

.product-container-container {
  border-radius: 16px;
  height: 380px;
  width: 281px;
  overflow: hidden;
  margin-bottom: 11px;
}
.product-container:hover {
  filter: brightness(1.05);
  transform: scale(1.02);
}

.partner-logo-container,
.partner-logo-container-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

.partner-logo-container-container {
  box-shadow: 0px 0px 24px 0px #a4a2a226;
  filter: drop-shadow(0px 0px 24px rgba(164, 162, 162, 0.15));
}

.partner-logo-container-container:hover {
  background: #00000008;
  filter: brightness(0.92) drop-shadow(0px 0px 24px rgba(164, 162, 162, 0.15));
}
