.h4 {
  font-size: 120%;
  margin: 0px;
  width: 175px;
  word-wrap: break-word;
}
.h5 {
  font-size: 100%;
  margin: 0px;
  width: 175px;
  word-wrap: break-word;
}
.h6 {
  font-size: 80%;
  margin: 4px 0px 0px 0px;
  width: 175px;
  word-wrap: break-word;
}

.picture {
  align-items: center;
  display: flex;
  height: 225px;
  justify-content: center;
  overflow: hidden;
}

@keyframes PopInAnimation {
  0% {
    transform: scale3d(0, 0, 0);
  }
  75% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.heart,
.heart-filled {
  cursor: pointer;
  position: absolute;
  height: 32px;
  width: 32px;
}
.heart-filled {
  transform-origin: center;
  animation: PopInAnimation 0.2s ease;
}
